
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color:#f6fff8;
  color: #222;
  line-height: 1.6;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 15px 50px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  height: 45px;
  width: 45px;
}

.logo span {
  font-size: 20px;
  font-weight: 600;
  color: #000;
}

.navbar nav a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
  margin-left: 25px;
  transition: color 0.3s ease;
}

.navbar nav a:hover {
  color: #2b644a; 
}

.banner {
  width: 100%;  
  margin-top: 0;
  background-color: #2b644a;
  padding: 100px 50px;
}
.banner h2 {
 color: white;
 text-align: center;
}
.banner img {
  width: 70%;
  border-radius: 8px;
  object-fit: cover;
}


.progress-heading{
  text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}

.progress-content{
  text-align: center;
    line-height: 28px;
}
.progress-main{
  margin: 100px 50px;
}


.our-story {
  text-align: center;
  margin: 40px auto;
}

.our-story h2 {
  font-size: 22px;
  font-weight: 600;
  color: #111;
  margin-bottom: 15px;
}

.lines {
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  border-top: 2px solid #111;
  border-bottom: 2px solid #111;
  border-left: 2px solid #111;
  border-right: 2px solid #111;
  border-radius: 10px;
  background-color: #ffffff;
}

.our-story p {
  text-align: justify;
  font-size: 16px;
  color: #333;
  line-height: 1.7;
}

.back-btn {
  text-align: center;
  margin: 40px 0 60px;
}

footer{
    background: black;
    padding: 20px;
}

footer p{
  color: white;
    text-align: center;
    font-size: 13px;
} 

.back-btn a {
  text-decoration: none;
  background-color: #ffffff;
  color: #000;
  padding: 12px 30px;
  border-radius: 20px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  font-weight: 600;
  transition: all 0.3s ease;
}

.back-btn a:hover {
  background-color:#2b644a;
  color: #fff;
}
