:root {
      --bg-gradient: linear-gradient(135deg, #A8E6CF, #81cec7);
      --card-bg: #F7FFF7;
      --primary: #379683;
      --primary-hover: #2C6E65;
      --text: #333333;
    }

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Poppins", sans-serif;
    }

    body {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background: var(--bg-gradient);
    }

    .login-container {
      background: var(--card-bg);
      width: 400px;
      padding: 40px 30px;
      border-radius: 16px;
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
      text-align: center;
    }

    .login-container h2 {
      color: var(--primary-hover);
      margin-bottom: 20px;
      font-size: 1.8rem;
    }
    #doctorBtn{

      color: rgb(28, 2, 2);
      border:1px solid black;
      padding: 14px;
      font-size: 1rem;
      border-radius:50px;
      font-weight: 600;
      cursor: pointer;
      transition: 0.3s; 
    }
    .switch-buttons{
      margin:20px;
    }
 #userBtn{
      
      background: var(--primary);
      color: white;
      border: none;
      padding: 14px;
      font-size: 1rem;
      border-radius: 50px;
      font-weight: 600;
      cursor: pointer;
      transition: 0.3s; 
  }
    form {
      text-align: left;
    }

    label {
      display: block;
      font-weight: 600;
      margin-bottom: 6px;
      color: var(--text);
    }

    input {
      width: 100%;
      padding: 12px;
      margin-bottom: 18px;
      border: 1.5px solid #ccc;
      border-radius: 10px;
      outline: none;
      font-size: 0.95rem;
      transition: 0.3s;
    }

    input:focus {
      border-color: var(--primary);
      box-shadow: 0 0 6px rgba(55, 150, 131, 0.3);
    }

    .text-light{
      color:white;
      text-decoration: none;
    }

    .btn {
      width: 100%;
      background: var(--primary);
      color: white !important;
      border: none;
      padding: 14px;
      font-size: 1rem;
      border-radius: 10px;
      font-weight: 600;
      cursor: pointer;
      transition: 0.3s;
    }

    .btn:hover {
      background: var(--primary-hover);
    }