
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background:linear-gradient(135deg, #A8E6CF, #81cec7);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  width: 75%;
  max-width: 1100px;
  background: #f7fff8;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}

.left {
  width: 55%;
  padding: 40px 50px;
}

.left h2 {
  color: #2c8b70;
  font-size: 28px;
  text-align: center;
  margin-bottom: 25px;
}

label {
  font-weight: 600;
  font-size: 14px;
  color: #333;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 12px 15px;
  margin: 10px 0 18px;
  border: 1px solid #d8eadd;
  border-radius: 10px;
  outline: none;
  font-size: 14px;
  background: #ffffff;
}

input[type="checkbox"] {
  margin-right: 8px;
}

button {
  width: 100%;
  padding: 12px;
  background: #2c8b70;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  margin-top: 10px;
  transition: 0.3s;
}

button:hover {
  background: #25735d;
}
.signup-btn{
  width: 100%;
  background: #ffffff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;  
}
.or {
   text-align:center;
  margin: 20px 0;
  color: #777;  
}

.google-btn {
  width: 100%;
  background: #ffffff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
}

.right {
  width: 45%;
  position: relative;
}

.right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tagline {
  position: absolute;
  bottom: 50px;
  left: 25px;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}

.slide-number {
  position: absolute;
  bottom: 15px;
  left: 25px;
  color: white;
  opacity: 0.8;
  font-size: 13px;
}

