:root {
  --green: #2b644a;
  --white: #ffffff;
  --gray: #000000;
  --light-bg: #f8f8f8;
  --shadow: rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.navbar {
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;
  border-bottom: 2px solid #e0e0e0;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 45px;
  height: 45px;
}

.logo span {
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--gray);
}

nav a {
  text-decoration: none;
  color: var(--gray);
  font-weight: 600;
  margin-left: 35px;
  font-size: 1rem;
}

nav a:hover {
  color: var(--green);
  transition: 0.3s;
}

.banner {
  background-color: var(--green);
  color: var(--white);
  text-align: center;
  padding: 80px 20px;
}

.banner h2 {
  font-size: 2rem;
  font-weight: 600;
}

body {
  background-color: var(--light-bg);
}
.daily-planner {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
  padding: 60px 100px;
  background-color: var(--light-bg);
}

.text-side {
  flex: 1;
  max-width: 300px;
  text-align: left;
}

.text-side h2 {
  color: var(--green);
  font-size: 2rem;
  margin-bottom: 15px;
}

.text-side p {
  color: #333;
  line-height: 1.6;
}

.planner-container {
  flex: 2;
  display: flex;
  justify-content: center;
  padding: 30px 200px;
}

form {
  background-color: var(--white);
  padding: 30px 40px;
  border-radius: 15px;
  box-shadow: 0 4px 20px var(--shadow);
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
}

label {
  text-align: left;
  margin-bottom: 5px;
  font-weight: 600;
  color: var(--green);
}

input[type="text"],
input[type="date"],
textarea {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  font-size: 1rem;
}

textarea {
  resize: none;
  height: 80px;
}

.checkbox-section {
  text-align: left;
  margin-bottom: 20px;
}

.checkbox-section p {
  margin-bottom: 10px;
  color: var(--green);
  font-weight: 600;
}

.checkbox-section label {
  display: block;
  margin-bottom: 8px;
  color: #333;
}

button {
  background-color: var(--green);
  color: var(--white);
  border: none;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.3s ease;
}

button:hover {
  background-color: #216052;
}
footer{
    background: black;
    padding: 20px;
}

footer p{
  color: white;
    text-align: center;
    font-size: 13px;
} 