:root {
  --green: #007f5f;
  --light-green: #d2ead6;
  --white: #ffffff;
  --gray: #000;
  --bg: #f6fff8;
  --shadow: rgba(5, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 font-family: "Lato", Sans-serif;
}

body {
  background: var(--bg);
  color: var(--gray);
  
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--white);
  padding: 15px 40px;
  box-shadow: 0 2px 6px var(--shadow);
  position: sticky;
  top: 0;
  z-index: 10;
}

.sub-heading{
  text-align: center;
    font-size: 16px;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.progress-heading{
  text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}

.progress-content{
  text-align: center;
    line-height: 28px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.logo span {
  font-weight: 600;
  font-size: 1.2rem;
  color: var(--green);
}

.navbar nav a {
  margin: 0 15px;
  text-decoration: none;
  color: var(--gray);
  font-weight: 500;
}

.navbar nav a:hover {
  color: var(--green);
}



.banar-paragraph{
  margin:20px 0px;
}

.welcome-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to right, #2d6a4f, #40916c);
  color: white;
  padding: 100px;
  overflow: hidden;
}

.welcome-text {
  max-width: 55%;
}

.welcome-text h2 {
  font-size: 3.8rem;
  margin-bottom: 10px;
}

.welcome-text p {
  font-size: 1rem;
  margin-bottom: 40px;
}

.welcome-section img {
  width: 40%;
  border-radius: 100%;
}

.buttons {
  display: flex;
  gap: 15px;
}

.btn-primary {
  background: var(--white);
  color: var(--green);
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}

.btn-outline {
  background: transparent;
  border: 2px solid var(--white);
  color: var(--white);
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}

.btn-primary:hover {
  opacity: 0.9;
}

.progress-main{
  margin: 100px 50px;
}


.stats {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
  margin: 40px 40px;
}

.stats .card {
  background: var(--white);
  border-radius: 12px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 8px var(--shadow);
}

.stats .card span {
  font-size: 1.6rem;
  display: block;
}

.stats .card h3 {
  font-size: 1.5rem;
  color: var(--green);
  margin: 15px  0;
}
.d-flex{
  display: flex;  
}
.left-img , .right-content{
  width: 50%;
  background: #2d6a4f;
}
footer{
    background: black;
    padding: 20px;
}

footer p{
  color: white;
    text-align: center;
    font-size: 13px;
} 
.text-light{
  color: white;
}
.text-justify{
  text-align: justify;
}
.left-img > img{
  width: 100%;
}
.right-content{
  padding: 50px;
  background: linear-gradient(180deg, #2d6a4f, #000000d4);
}

